 body {
     color: #40514E;
     margin: 0;
     text-align: center;
     font-family: 'Merriweather', serif;
 }
 
 .top-cloud {
     position: absolute;
     top: 50px;
     right: 300px;
     animation-name: top-cloud;
     animation-duration: 20s;
     animation-iteration-count: infinite;
 }
 
 @keyframes top-cloud {
     0% {
         top: 50px;
         right: 300px;
     }
     25% {
         right: 225px;
     }
     50% {
         right: 250px;
     }
     75% {
         right: 275px;
     }
     100% {
         right: 300px;
     }
 }
 
 .bottom-cloud {
     position: absolute;
     left: 300px;
     bottom: 300px;
     animation-name: bottom-cloud;
     animation-duration: 20s;
     animation-iteration-count: infinite;
 }
 
 @keyframes bottom-cloud {
     0% {
         left: 300px;
         bottom: 300px;
     }
     25% {
         left: 225px;
     }
     50% {
         left: 250px;
     }
     75% {
         left: 275px;
     }
     100% {
         left: 300px;
     }
 }
 
 h1 {
     margin: 3.125rem auto 0 auto;
     font-family: 'Sacramento', cursive;
     font-size: 5.625rem;
     color: #66BFBF;
 }
 
 h2,
 h3 {
     font-family: 'Montserrat', sans-serif;
     font-weight: bold;
 }
 
 h2 {
     font-size: 2.5rem;
     margin-top: 0;
     color: #66BFBF;
 }
 
 h3 {
     color: #11999E;
 }
 
 .top-container {
     background-color: lightcyan;
     position: relative;
     padding-top: 100px;
 }
 
 .pro {
     text-decoration: underline;
     color: darkorange;
 }
 
 hr {
     border: dotted gray 6px;
     border-bottom: none;
     width: 5%;
     margin: 5% auto;
 }
 
 .middle-container {
     position: relative;
 }
 
 .profile-img {
     width: 15%;
     height: 15%;
     margin-top: 5%;
     margin-bottom: 2%;
 }
 
 .intro {
     font-weight: bold;
     line-height: 2;
     width: 25%;
     height: 20%;
     margin: 0 auto;
 }
 
 .skill-row {
     width: 50%;
     margin: 50px auto 50px auto;
     text-align: left;
     line-height: 2;
     font-weight: bold;
 }
 
 .code-img {
     width: 25%;
     float: left;
     margin-right: 30px;
 }
 
 .chilli-img {
     width: 25%;
     float: right;
     margin-left: 10px;
 }
 
 .yoga-img {
     width: 25%;
     float: left;
     margin-right: 30px;
 }
 
 .contact-message {
     font-weight: bold;
     line-height: 2;
     width: 25%;
     height: 20%;
     margin: 0 auto 4% auto;
 }
 
 .btn {
     background-color: #66BFBF;
     color: white;
     border-radius: 10px;
     padding: 12px;
     font-stretch: wider;
 }
 
 .btn:hover {
     opacity: 0.4;
 }
 
 a {
     text-decoration: none;
 }
 
 .bottom-container {
     background-color: lightcyan;
     position: relative;
     margin-top: 4%;
     padding-top: 4%;
 }
 
 .footer-link {
     color: #11999E;
     padding: 1%;
 }
 
 .footer-link:hover {
     opacity: 0.4;
 }
 
 .copyright {
     color: #11999E;
     font-size: 9px;
 }